<p>view-college-info works!</p>
<h1>{{collgename}}</h1>
<br>
<br>
<h3>College Starting Year :  {{startingYear}}</h3>
<br>
<h3>Accredation :  {{Accredation}}</h3>
<br>
<h3>College Placement :  {{CollegePlacement}}</h3>
<br>
<h3>Hostel Facility :  {{HostelInfo}}</h3>
<br>
<h3>Hostel Fee :  {{HostelFee}}</h3>
<br>
<h3> College Rating :  {{collegerating}}</h3>
<br>
<h3> University  :  {{universityOfCollege}}</h3>

<br>
<br>
<div>
    <button type="button"  class="btn btn-success" (click)="VisitPermiision()">Visit Permission</button>
</div>
<span>
    <h4>{{message}}</h4>
</span>

