
<form #myForm="ngForm" (ngSubmit)="OnUpdatingPassword(myForm)">
        <legend>Add Employee</legend>
        <br>
        <span>
                <label for="studEmail">Email</label>
                <input ngModel type="text" class="form-control" id="studEmail" name="studEmail" required placeholder="Enter Email">

        </span>
        <br>
        <br>
        <span>
            <h4>Enter age for refering validating email</h4>
            <label for="age">Enter age</label>
            <input ngModel type="text" class="form-control" id="age" name="age" required placeholder="Enter Age">

            
        </span>
        <br>
        <br>
    
        
    
        <span>
            <label for="studPassword">Enter new Password</label>
            <input ngModel type="text" class="form-control" id="studPassword" required name="studPassword" placeholder="Enter Password">

        </span>
        <br>
        <br>
        
    
        <button type="submit" class="btn btn-primary">Update Password</button>
        <br>

     
        <!-- <button type="button" class="btn btn-success" (click)="GoBackHome()">Go Back to Home</button> -->
        <br>
        
</form>
<br>
<h4>{{message}}</h4>
