<div class="table-responsive">
    <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>College Name</th>
                    <th>Establishment Year</th>
                    <th>HostelInfo </th>
                    <th>Ownership  </th>
                    <th>Rating</th>
                    <th>university</th>
                </tr>
        
            </thead>
            
            
            <tbody>
                <tr *ngFor="let c of CollegeList">
                    <td>{{c.cid}}</td>
                    <td>{{c.collageName}}</td>
                    <td>{{c.establishmentYear}}</td>
                    <td>{{c.hostelInfo}}</td>
                    <td>{{c.ownership}}</td>
                    <td>{{c.rating }}</td>
                    <td>{{c.university}}</td>
                    <!-- <td><a routerLink="/courses/{{c.cid}}"><input type="button" style="background-color: greenyellow" class="button-success" value="View"></a></td> -->
                    <td><a class="btn btn-primary" routerLink="/courses/{{c.cid}}">View</a></td>
                    <td *ngIf="authservice.IsLoggedIn()">
                        <a class="btn btn-danger" routerLink="/deleteColllge/{{c.cid}}">Delete</a>
                        <a class="btn btn-primary" routerLink="/EditCollege/{{c.cid}}">Edit</a>
                    </td>
                    
                </tr>
            </tbody>
            
        
        
        </table>
        <br>
        <br>
        <span *ngIf="authservice.IsLoggedIn()">
                <a class="btn btn-primary" routerLink="/InsertCollege/{{locationLid}}">Insert</a>
        </span>
</div>
